.resultsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.resultImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
}

.resultsContainer img {
  width: auto;
  height: 180px;
}

.largerHeight {
  height: 250px !important;
}

.italic {
  font-style: italic;
}

#graphContainer {
  display: flex;
  justify-content: center;
}

#graph {
  width: auto;
  height: 520px;
}

.main-content table {
  display: table;
  width: auto;
  margin-left: auto;
  margin-right: auto; 
}
